<?xml version="1.0" encoding="utf-8"?>
<resources>
    <!-- Put this file under app/debug/res/values (NOT main/res!) as 'strings.xml' -->

    <!-- Find these at https://www.dropbox.com/developers/apps -->
    <string name="dropbox_key">KEYHERE</string>
    <string name="dropbox_secret">SECRETHERE</string>

    <!-- This is the Project Number under https://console.developers.google.com/project/YOURPROJECT -->
    <string name="gcm_sender_key">1234567890123</string>

    <!-- Point this towards your running instance of the server module -->
    <string name="appengine_scanner_service">http://localhost:8080</string>
</resources>
