<?xml version="1.0" encoding="utf-8"?>
<resources>
    <!-- Put this file under debug/res/values (NOT main/res!) as 'strings.xml' -->

    <!-- Find these at https://www.dropbox.com/developers/apps -->
    <string name="dropbox_key_with_db">db-KEYHERE</string>
    <string name="dropbox_secret">SECRETHERE</string>
</resources>
